<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Boats, boats everywhere. ARRRR!</title>

        <!-- Viewport mobile tag for sensible mobile support -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css'>
        <!--STYLES-->
        <link rel="stylesheet" href="/styles/importer.css">
        <!--STYLES END-->

        
        <link type="text/css" href='http://sailsjs.org/styles/fonts.css' rel='stylesheet'/>
        
        <link href="css/materialize.css" rel="stylesheet" type="text/css">
        
    </head>

    <body>
    <%- body %>
   

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/js/materialize.min.js"></script>
    <script type="text/javascript">
        $( document ).ready(function(){
            $('select').material_select();
        });
    </script>
    <!--SCRIPTS END-->
  </body>
</html>
