<div class="default-page">
    <h1>Create an user</h1>
    <form action="/user/create" class="register">
        <fieldset>
            <legend>Create an user</legend>
            <div>
                <label for="username" id="username">Username</label>
                <br>
                <input type="text" name="username" id="username" placeholder="username" value="" />
            </div>
            <div>
                <label for="firstname" id="firstname">First Name</label>
                <br>
                <input type="text" name="firstname" id="firstname" placeholder="John" value="" />
            </div>
            <div>
                <label for="lastname" id="lastname">Last Name</label>
                <br>
                <input type="text" id="lastname" name="lastname" placeholder="Smith" value="" />
            </div>
            <div>
                <label for="email" id="email">Email Address</label>
                <br>
                <input type="email" id="email" name="email" placeholder="email@address.com" value="" />
            </div>
            <div>
                <label for="password" id="password">Password</label>
                <br>
                <input type="text" id="password" name="password" value="" />
            </div>
            <div>
                <label for="confirm_password" id="confirm_password">Confirm Password</label>
                <br>
                <input type="text" id="confirm_password" name="confirm_password" value="" />
            </div>

            <div>
                <button id="submit" type="submit">Register</button>
            </div>
        </fieldset>
    </form>
</div>